@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

body,
h1,
h2 {
    margin-top: 8px;
    padding: 0px;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 0px;
}

.info {
    padding-top: 0;
    margin-top: 0;
}


h2 {
    font-size: 20px;
    color: #282828;
    font-weight: lighter;
    margin-bottom: 5px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.title-text {
    font-size: 14px;
    font-weight: bold;
    color: #282828;
    float: left;
    margin-top: 0px;
}

.city-year {
    font-size: 11px;
    font-weight: normal;
    color: #282828;
    float: right;
    margin-top: 0px;

}

.skill-title {
    font-size: 12px;
    font-weight: bold;
    color: #282828;
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}

.skills {
    font-size: 12px;
    font-weight: normal;
    color: #282828;
    float: inline-start;
    margin-top: 3px;
}

.float-wrap {
    overflow: hidden;
}



.title {
    text-align: center;
    border: 3px;
}

.main {
    width: 850px;
    height: 1100px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}